@import '../../../_settings/variables.css';

.label {
    font-family: var(--base-font-family);
    font-size: 1em;
    color : #4b4b4b;
}

/* Font Sizes */

.small{
    font-size: 1em;
}

.medium {
    font-size: 1.5em;
}

.large {
    font-size: 2em;
}

.xlarge {
    font-size: 2.5em;
}

